@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.pointer{ cursor: pointer; }
.upload{
    border: 2px solid #BDBDBD;
    border-radius: 5px;
    margin: 10px 0px;
}
.gallery{
    .card{
        position: relative;
        .icons{
            position: absolute;
            top: 5px;
            right: 5px;
            li{ 
                padding: 3px 5px;
                border-radius: 5px;
                background: rgba(0,0,0,0.5);
                color: white;
                display: inline; 
                margin-left: 10px; 
            }
        } 

        .card-img-top{
            background-position: center center;
            background-size: cover;
        }
            
    }
}